aiohttp
aiosignal
altair
async-timeout
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
dataclasses-json
decorator
entrypoints
faiss-cpu
frozenlist
gitdb
GitPython
greenlet
idna
importlib-metadata
Jinja2
jsonschema
langchain
markdown-it-py
MarkupSafe
marshmallow
marshmallow-enum
mdurl
multidict
mypy-extensions
numexpr
numpy
openai
openapi-schema-pydantic
packaging
pandas
Pillow
protobuf
pyarrow
pydantic
pydeck
Pygments
Pympler
PyPDF2
pyrsistent
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
rich
six
smmap
SQLAlchemy
streamlit
tenacity
tiktoken
toml
toolz
tornado
tqdm
typing-inspect
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
yarl
zipp
